
@font-face {
  font-family: 'Agbalumo';
  /* 👇 it's a relative path */
  src: url('fonts/Agbalumo-Regular.ttf');
  /* font-weight: 400; */
}
/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

body {
  background-color: theme(colors.silver-tree)
}
